<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
		Demande de devis
		</title>
		<link rel="stylesheet" type="text/css" href="templates/form.css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		// focus
		$('#form_container :input').bind('focus',function(){
			unlight();
			$(this).parent().parent().addClass('highlighted');
		});
		$('#form_container select').bind('click',function(){
			unlight();
			$(this).parent().parent().addClass('highlighted');
		});
		
		
		// expand
		
		/* e1 and e2 depends on m1
		*/
		$('#m1').bind('change',function(){
			
			if($(this).val()=="desktop"||$(this).val()=="laptop"){
				$('.if_m1').show()
			}
			else	$('.if_m1').hide()
		});
		
		/* d3 depends on d2 */
		$('.if_d2').hide();
		$("#d2_1, #d2_2").bind('click',function(){

			if($(this).val()=="oui"){
				$('.if_d2').show()
			}
			else
			{
				$('.if_d2').hide();
			}
			
		});

		
		// check form
		$('form#form_devis').submit(function() {
		form_required_error = 0;
			$('li.required :input').each(function(){
				
				if($(this).val()==""||$(this).val()==null||$(this).val()==false){
					form_required_error++;
					$(this).parent().parent().addClass('highlightederror');
					return false;
				}
								
			});

			if(form_required_error>0) { 
				alert('Vous avez oublié de remplir des informations obligatoires, \nveuillez corriger les champs en rouge');
				return false;
			}
			else {
				$('form#form_devis').submit();
			}
		});
		
		
		
	});
	
	var unlight = function(){
		$('#form_container li').removeClass('highlighted')
	}
	
</script>
	</head>
	<body id="main_body">
		<div id="form_container">
			<h1>
				<a>Demande de devis</a>
			</h1>
	<form id="form_devis" class="appnitro" method="post" action="process.php">
		<div class="form_description">
			<h2>
				Demande de devis
			</h2>
			<p>
				pour effectuer une demande de devis, veuillez remplir ce formulaire.
			</p>
		</div>
		<ul>
			<li class="section_break">
				<h3>Coordonnées</h3>
			</li>
			<li class="required">
				
				<label class="description" for="c2">Nom</label>
				
				<span><select name="c1" id="genre" size="1" class="element text">
					<option value="m">Mr.</option>
					<option value="mme">Mme.</option>
					<option value="mlle">Mlle.</option>			
				</select><label>Civilité</label></span>
				<span><input id="c2" name="c2" class="element text" maxlength="255" size="8" value="" /><label>Prénom</label></span>
				<span><input id="c3" name="c3" class="element text" maxlength="255" size="14" value="" /> <label>Nom de famille</label></span>
			</li>
			
			<li>
				<label class="description" for="c4">Société</label>
				<div>
					<input id="c4" name="c4" class="element text medium" type="text" maxlength="255" value="" />
				</div>
				<p class="guidelines" id="guide_1">
					<small>Si vous effectuez votre demande à titre professionnel, veuillez spécifier votre société</small>
				</p>
			</li>
			<li>
				<label class="description" for="c5">Téléphone</label>
				<span><input id="c5" name="c5" class="element text long" type="text" maxlength="255" value="" /><label>Fixe</label></span>
				<span><input id="c6" name="c6" class="element text long" type="text" maxlength="255" value="" /><label>Portable</label></span>
			</li>
			<li class="required">
				<label class="description" for="c7">E-mail</label>
				<div>
					<input id="c7" name="c7" class="element text medium" type="text" maxlength="255" value="" />
				</div>
			</li>
					
		<li> 
			<label class="description" for="c8">Adresse </label> 

			<div> 
				<input id="c8" name="c8" class="element text large" value="" type="text"> 
				<label for="c8">Numéro et nom de la rue</label> 
			</div> 

			<div> 
				<input id="c9" name="c9" class="element text large" value="" type="text"> 
				<label for="c9">Complément d'adresse</label> 
			</div> 

			<div class="left"> 
				<input id="c10" name="c10" class="element text medium" value="" type="text"> 
				<label for="c10">Ville</label> 
			</div> 

			<div class="right"> 
				<input id="c11" name="c11" class="element text medium" value="" type="text"> 
				<label for="c11">Etat/Province (optionnel)</label> 
			</div> 

			<div class="left"> 
				<input id="c12" name="c12" class="element text medium" maxlength="15" value="" type="text"> 
				<label for="c12">Code Postal</label> 
			</div> 

			<div class="right"> 
				<select class="element select medium" id="c13" name="c13"> 
					<option value="Afghanistan" >Afghanistan</option> 
					<option value="Albania" >Albania</option> 
					<option value="Algeria" >Algeria</option> 
					<option value="Andorra" >Andorra</option> 
					<option value="Antigua and Barbuda" >Antigua and Barbuda</option> 
					<option value="Argentina" >Argentina</option> 
					<option value="Armenia" >Armenia</option> 
					<option value="Australia" >Australia</option> 
					<option value="Austria" >Austria</option> 
					<option value="Azerbaijan" >Azerbaijan</option> 
					<option value="Bahamas" >Bahamas</option> 
					<option value="Bahrain" >Bahrain</option> 
					<option value="Bangladesh" >Bangladesh</option> 
					<option value="Barbados" >Barbados</option> 
					<option value="Belarus" >Belarus</option> 
					<option value="Belgium" >Belgium</option> 
					<option value="Belize" >Belize</option> 
					<option value="Benin" >Benin</option> 
					<option value="Bhutan" >Bhutan</option> 
					<option value="Bolivia" >Bolivia</option> 
					<option value="Bosnia and Herzegovina" >Bosnia and Herzegovina</option> 
					<option value="Botswana" >Botswana</option> 
					<option value="Brazil" >Brazil</option> 
					<option value="Brunei" >Brunei</option> 
					<option value="Bulgaria" >Bulgaria</option> 
					<option value="Burkina Faso" >Burkina Faso</option> 
					<option value="Burundi" >Burundi</option> 
					<option value="Cambodia" >Cambodia</option> 
					<option value="Cameroon" >Cameroon</option> 
					<option value="Canada" >Canada</option> 
					<option value="Cape Verde" >Cape Verde</option> 
					<option value="Central African Republic" >Central African Republic</option> 
					<option value="Chad" >Chad</option> 
					<option value="Chile" >Chile</option> 
					<option value="China" >China</option> 
					<option value="Colombia" >Colombia</option> 
					<option value="Comoros" >Comoros</option> 
					<option value="Congo" >Congo</option> 
					<option value="Costa Rica" >Costa Rica</option> 
					<option value="Côte d'Ivoire" >Côte d'Ivoire</option> 
					<option value="Croatia" >Croatia</option> 
					<option value="Cuba" >Cuba</option> 
					<option value="Cyprus" >Cyprus</option> 
					<option value="Czech Republic" >Czech Republic</option> 
					<option value="Denmark" >Denmark</option> 
					<option value="Djibouti" >Djibouti</option> 
					<option value="Dominica" >Dominica</option> 
					<option value="Dominican Republic" >Dominican Republic</option> 
					<option value="East Timor" >East Timor</option> 
					<option value="Ecuador" >Ecuador</option> 
					<option value="Egypt" >Egypt</option> 
					<option value="El Salvador" >El Salvador</option> 
					<option value="Equatorial Guinea" >Equatorial Guinea</option> 
					<option value="Eritrea" >Eritrea</option> 
					<option value="Estonia" >Estonia</option> 
					<option value="Ethiopia" >Ethiopia</option> 
					<option value="Fiji" >Fiji</option> 
					<option value="Finland" >Finland</option> 
					<option value="France" selected>France</option> 
					<option value="Gabon" >Gabon</option> 
					<option value="Gambia" >Gambia</option> 
					<option value="Georgia" >Georgia</option> 
					<option value="Germany" >Germany</option> 
					<option value="Ghana" >Ghana</option> 
					<option value="Greece" >Greece</option> 
					<option value="Grenada" >Grenada</option> 
					<option value="Guatemala" >Guatemala</option> 
					<option value="Guinea" >Guinea</option> 
					<option value="Guinea-Bissau" >Guinea-Bissau</option> 
					<option value="Guyana" >Guyana</option> 
					<option value="Haiti" >Haiti</option> 
					<option value="Honduras" >Honduras</option> 
					<option value="Hong Kong" >Hong Kong</option> 
					<option value="Hungary" >Hungary</option> 
					<option value="Iceland" >Iceland</option> 
					<option value="India" >India</option> 
					<option value="Indonesia" >Indonesia</option> 
					<option value="Iran" >Iran</option> 
					<option value="Iraq" >Iraq</option> 
					<option value="Ireland" >Ireland</option> 
					<option value="Israel" >Israel</option> 
					<option value="Italy" >Italy</option> 
					<option value="Jamaica" >Jamaica</option> 
					<option value="Japan" >Japan</option> 
					<option value="Jordan" >Jordan</option> 
					<option value="Kazakhstan" >Kazakhstan</option> 
					<option value="Kenya" >Kenya</option> 
					<option value="Kiribati" >Kiribati</option> 
					<option value="North Korea" >North Korea</option> 
					<option value="South Korea" >South Korea</option> 
					<option value="Kuwait" >Kuwait</option> 
					<option value="Kyrgyzstan" >Kyrgyzstan</option> 
					<option value="Laos" >Laos</option> 
					<option value="Latvia" >Latvia</option> 
					<option value="Lebanon" >Lebanon</option> 
					<option value="Lesotho" >Lesotho</option> 
					<option value="Liberia" >Liberia</option> 
					<option value="Libya" >Libya</option> 
					<option value="Liechtenstein" >Liechtenstein</option> 
					<option value="Lithuania" >Lithuania</option> 
					<option value="Luxembourg" >Luxembourg</option> 
					<option value="Macedonia" >Macedonia</option> 
					<option value="Madagascar" >Madagascar</option> 
					<option value="Malawi" >Malawi</option> 
					<option value="Malaysia" >Malaysia</option> 
					<option value="Maldives" >Maldives</option> 
					<option value="Mali" >Mali</option> 
					<option value="Malta" >Malta</option> 
					<option value="Marshall Islands" >Marshall Islands</option> 
					<option value="Mauritania" >Mauritania</option> 
					<option value="Mauritius" >Mauritius</option> 
					<option value="Mexico" >Mexico</option> 
					<option value="Micronesia" >Micronesia</option> 
					<option value="Moldova" >Moldova</option> 
					<option value="Monaco" >Monaco</option> 
					<option value="Mongolia" >Mongolia</option> 
					<option value="Montenegro" >Montenegro</option> 
					<option value="Morocco" >Morocco</option> 
					<option value="Mozambique" >Mozambique</option> 
					<option value="Myanmar" >Myanmar</option> 
					<option value="Namibia" >Namibia</option> 
					<option value="Nauru" >Nauru</option> 
					<option value="Nepal" >Nepal</option> 
					<option value="Netherlands" >Netherlands</option> 
					<option value="New Zealand" >New Zealand</option> 
					<option value="Nicaragua" >Nicaragua</option> 
					<option value="Niger" >Niger</option> 
					<option value="Nigeria" >Nigeria</option> 
					<option value="Norway" >Norway</option> 
					<option value="Oman" >Oman</option> 
					<option value="Pakistan" >Pakistan</option> 
					<option value="Palau" >Palau</option> 
					<option value="Panama" >Panama</option> 
					<option value="Papua New Guinea" >Papua New Guinea</option> 
					<option value="Paraguay" >Paraguay</option> 
					<option value="Peru" >Peru</option> 
					<option value="Philippines" >Philippines</option> 
					<option value="Poland" >Poland</option> 
					<option value="Portugal" >Portugal</option> 
					<option value="Puerto Rico" >Puerto Rico</option> 
					<option value="Qatar" >Qatar</option> 
					<option value="Romania" >Romania</option> 
					<option value="Russia" >Russia</option> 
					<option value="Rwanda" >Rwanda</option> 
					<option value="Saint Kitts and Nevis" >Saint Kitts and Nevis</option> 
					<option value="Saint Lucia" >Saint Lucia</option> 
					<option value="Saint Vincent and the Grenadines" >Saint Vincent and the Grenadines</option> 
					<option value="Samoa" >Samoa</option> 
					<option value="San Marino" >San Marino</option> 
					<option value="Sao Tome and Principe" >Sao Tome and Principe</option> 
					<option value="Saudi Arabia" >Saudi Arabia</option> 
					<option value="Senegal" >Senegal</option> 
					<option value="Serbia and Montenegro" >Serbia and Montenegro</option> 
					<option value="Seychelles" >Seychelles</option> 
					<option value="Sierra Leone" >Sierra Leone</option> 
					<option value="Singapore" >Singapore</option> 
					<option value="Slovakia" >Slovakia</option> 
					<option value="Slovenia" >Slovenia</option> 
					<option value="Solomon Islands" >Solomon Islands</option> 
					<option value="Somalia" >Somalia</option> 
					<option value="South Africa" >South Africa</option> 
					<option value="Spain" >Spain</option> 
					<option value="Sri Lanka" >Sri Lanka</option> 
					<option value="Sudan" >Sudan</option> 
					<option value="Suriname" >Suriname</option> 
					<option value="Swaziland" >Swaziland</option> 
					<option value="Sweden" >Sweden</option> 
					<option value="Switzerland" >Switzerland</option> 
					<option value="Syria" >Syria</option> 
					<option value="Taiwan" >Taiwan</option> 
					<option value="Tajikistan" >Tajikistan</option> 
					<option value="Tanzania" >Tanzania</option> 
					<option value="Thailand" >Thailand</option> 
					<option value="Togo" >Togo</option> 
					<option value="Tonga" >Tonga</option> 
					<option value="Trinidad and Tobago" >Trinidad and Tobago</option> 
					<option value="Tunisia" >Tunisia</option> 
					<option value="Turkey" >Turkey</option> 
					<option value="Turkmenistan" >Turkmenistan</option> 
					<option value="Tuvalu" >Tuvalu</option> 
					<option value="Uganda" >Uganda</option> 
					<option value="Ukraine" >Ukraine</option> 
					<option value="United Arab Emirates" >United Arab Emirates</option> 
					<option value="United Kingdom" >United Kingdom</option> 
					<option value="United States" >United States</option> 
					<option value="Uruguay" >Uruguay</option> 
					<option value="Uzbekistan" >Uzbekistan</option> 
					<option value="Vanuatu" >Vanuatu</option> 
					<option value="Vatican City" >Vatican City</option> 
					<option value="Venezuela" >Venezuela</option> 
					<option value="Vietnam" >Vietnam</option> 
					<option value="Yemen" >Yemen</option> 
					<option value="Zambia" >Zambia</option> 
					<option value="Zimbabwe" >Zimbabwe</option> 

					</select> 
				<label for="c13">Pays</label> 
			</div> 
		</li>

		<li class="section_break">
			<h3>
				Materiel
			</h3>
		</li>
		<li>
			<label class="description" for="m1">Type de matériel</label>
			
			<span><select name="m1" id="m1" size="1">
				<option value="laptop">Disque d'ordinateur portable</option>
				<option value="desktop">Disque d'ordinateur de Bureau</option>
				<option value="external">Disque externe</option>
				<option value="multimedia">Disque multimédia</option>
				<option value="card">Carte mémoire</option>
				<option value="rom">CD-DVD</option>
			</select></span>
		</li>
		<li>
			<label class="description" for="m2">Marque</label>
			<div>
				<input id="m2" name="m2" class="element text medium" type="text" maxlength="255" value="" />
			</div>
		</li>
		<li>
			<label class="description" for="m3">Modèle</label>
			<div>
				<input id="m3" name="m3" class="element text medium" type="text" maxlength="255" value="" />
			</div>
		</li>
		<li>
			<label class="description" for="m4">Numéro de série</label>
			<div>
				<input id="m4" name="m4" class="element text medium" type="text" maxlength="255" value="" />
			</div>
		</li>
		<li>
			<label class="description" for="m5">Date d'achat</label>
			<div>
				<input id="m5" name="m5" class="element text medium" type="text" maxlength="255" value="" />
			</div>
			<p class="guidelines">
				<small>Même approximative, la date d'achat peut permettre de déterminer le lot.</small>
			</p>
		</li>
		<li>
			<label class="description" for="m6">Lieu d'achat</label>
			<div>
				<input id="m6" name="m6" class="element text large" type="text" maxlength="255" value="" />
			</div>
			<p class="guidelines">
				<small>Merci de préciser le nom du magasin et la ville ou vous avez effectué l'achat. Dans le cas d'un achat en ligne, spécifiez simplement le nom du site.</small>
			</p>
		</li>

<?php
          require_once('lib/recaptcha/recaptchalib.php');
          $publickey = "6LeT0cgSAAAAAG4NLJ1diyG1ZFSs72MNZl1QEgvE"; // you got this from the signup page
          echo recaptcha_get_html($publickey);
        ?>

		<li class="buttons">
<input id="saveForm" class="button_text" type="submit" value="Envoyer votre demande" />
		</li>
	</ul>
</form>
			<div id="footer">
				&nbsp;
			</div>
		</div>
	</body>
</html>
