<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr"> 
<head> 
 
    <title>FIAC -Demandes d'accréditations</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 

    <meta name="keywords" content="fiac, paris, foire internationale d’art contemporain, art moderne, art contemporain, grand palais, cour carree, louvre, vernissage, prix Marcel Duchamp, YCI, galerie, collectionneur, peinture, photographie, sculpture, installation, performance, salon, octobre, show, modern, contemporary, gallery, show, exhibition" /> 
    
    
    	<meta name ="description" content="Au cœur de Paris, 21 - 24 octobre 2010. Grand Palais, Cour Carrée du Louvre, Tuileries. Art moderne, art contemporain, design, performances" /> 
    

	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/common.css" /> 
	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/styles.css" /> 
	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/styles-button.css" /> 
	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/styles-form.css" /> 
	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/styles-admission.css" /> 
	<link rel="stylesheet" type="text/css" media="screen" href="templates/css/styles-shop.css" /> 
	<link rel="stylesheet" type="text/css" media="print" href="templates/css/print.css" /> 

</head> 
<body> 
 
<div id="container"> 
 
    <h1>FIAC - Foire Internationale d'Art Contemporain</h1> 
 
    <div id="header" class="clearfix"> 
 
        <a href="/"> 
			<img src="templates/images/logo.jpg" alt="Fiac" id="logo" /> 
		</a> 
 
        <ul id="languages"> 
            
            <li><a href="#">english</a></li> 
        </ul> 
 
		<div id="special_access"> 
        	
            <h3>Accès Réservé :</h3> 
            <ul> 
                <li><a href="#">Exposants</a></li> 
                <li><a href="login.php">VIP</a></li> 
				<li><a href="#">Institutions</a></li> 
                <li><a href="#">Presse</a></li> 
				<li><a href="#">Visiteurs</a></li> 
            </ul> 
            
 
            
    	</div> 
 
        <ul id="menu_top" class="menu dropdown clearfix"> 
            
                <li> 
					<a href="#"> 
						Accueil
					</a> 
                    
				</li> 
            
                <li> 
					<a href="#"> 
						Demande d'accréditation
					</a> 
                    
				</li> 
            
                <li> 
					<a href="#"> 
						Visuels
					</a> 
                    
				</li> 
            
                <li> 
					<a href="#"> 
						Dossier de presse
					</a> 
                    
				</li> 
            
            
        </ul> 
 
		
    </div> 
 <div id="service" class="clearfix"> 
 
 
<form action="login.php" method="post">
	<label for="login">Login: </label><input type="text" name="login" value="" id="login"><br /><br />
	<label for="password">Password: </label><input type="password" name="password" value="" id="password">
	<input type="submit" value="Ok" />
</form>
<a href="index.php">S'inscrire</a>

</div> <!-- closing id service -->
 
    <div id="footer" class="clearfix"> 
 
        <ul id="menu_bottom" class="menu clearfix"> 
            
                <li><a href="#">Contact</a></li> 
            
                <li><a href="#">Newsletter</a></li> 
            
                <li><a href="#">Partenaires</a></li> 
            
        </ul> 
 
        <ul id="credits" class="clearfix"> 
      		<li> 
            	<a href="#" target="_blank" > 
                	Tous droits réservés
                </a> 
            </li> 
    		<li> 
            	<a href="#" target="_blank" > 
                	Données Personnelles
                </a> 
            </li> 
        </ul> 
 
        <div id="reed"> 
            <span>organisé par</span> 
            <img src="templates/images/reed.jpg" width="100" height="24" alt="Reed Expositions" /> 
        </div> 
 
 
        <div id="sponsor"> 
        	<img src="templates/images/GL_footer_fr.gif" width="346" height="77" /> 
        </div> 
 
    </div> 
 
</div> <!-- end container --> 
 
 
 
 
</body> 
</html>
