<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
		Demande de devis
		</title>
		<link rel="stylesheet" type="text/css" href="templates/form.css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body id="main_body">

		<div id="form_container">
			<h1>
				<a>Demande de devis</a>
			</h1>
			<form class="appnitro">
			<div class="form_description">
				<h2>
					Merci
				</h2>
				<p>
					Nous avons bien reçu votre demande de devis, nous vous recontacterons dans les plus brefs délais.
				</p>
			</div>
			</form>
			</div>
			<div id="footer">
				&nbsp;
			</div>
		</div>
	</body>
</html>
