
a  {
	outline: none;
}
a.email,
a.pdf,
a.add,
a.modify,
a.download,
a.print,
a.previous,
a.next,
a.back,
a.more,
a.delete {
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 18px;
}

a.email {
	background-image: url('../images/email.png');
	background-position: 0 1px;
}

a.pdf {
	background-image: url('../images/pdf.png');
	padding-top: 2px;
}

a.add {
	background-image: url('../images/add.png');
	background-position: 0 4px;
	padding-left: 12px;
}

a.modify {
	background-image: url('../images/pencil.png');
}

a.print {
	background-image: url('../images/print.png');
	background-position: 0 0;
}

a.download {
	background-image: url('../images/download.png');
	background-position: 0 5px;
}

a.previous{
	background-image: url('../images/arrow-left.png');
	background-position: 0 4px;
}

a.back {
	background-image: url('../images/back.png');
	background-position: 0 1px;
}

a.more {
	background-image: url('../images/more.png');
	background-position: 0 1px;
}

a.previous {
	padding-left: 15px;
	padding-right: 5px;
}

a.next {
	background-image: url('../images/arrow-right.png');
	background-position: right 4px;
	padding-left: 5px;
	padding-right: 15px;
}

a.delete {
	background-image: url('../images/trash.png');
	background-position: 0 -4px;
}
